body {
    margin:0px;
    padding:0px;
    background-color:rgb(161, 255, 255);
}

#one .one {
    text-align:center;
    margin:0px;
    padding:15px;
}

#one .two {
    height: 100px;
    width:100px;
    margin:10px auto;
    padding:20px ;
}


